<div class="container">
<div class="common-text"><h2>订单列表 </h2></div>

<div class="col-md-6 col-md-offset-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th  class="table-text">序号</th>
        <th  class="table-text">生成时间</th>
      </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
      <tr>
        <td class="text-center"> <%= link_to(order.id, order_path(order.token)) %> </td>
        <td class="text-center"> <%= order.created_at.to_s(:long) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</div>
