<div class="common-text">
<h2>产品编辑</h2>
</div>
<% if @product.photos.present? %>
  <span>目前商品圖</span> <br>
  <% @product.photos.each do |p| %>
    <%= image_tag p.avatar.thumb.url %><br>
  <% end %>
<% end %>
<%= render "form" %>
