
<footer>
  <!-- <div class="col-md-1 text-center" id="gotop"><i class="fa fa-arrow-circle-up fa-4x "></i></div> --> <!--取消回到顶部功能-->
   <div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2 col-xs-4 footer-col" style="margin-top:60px">
        <div class="logofooter"> <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fgdn68lxrxg30e80e83yj.gif"> 一休工作室</div>
        <p style="margin-top:31px;"> Design by 一休 & 瑞兰</p>
      </div>

      <div class="col-md-3 col-xs-4 footer-col" style="margin-top:65px">
        <p><i class="fa fa-phone"></i> 电话 : 136 8255 9838</p>
        <p><i class="fa fa-map-pin"></i> 地址 : 深圳市 龙岗中心城</p>
        <p style="letter-spacing:1px"><i class="fa fa-envelope"></i> 邮箱 : 380766158@qq.com</p>
      </div>

      <div class="col-md-3 col-xs-4 footer-col">
        <h6 class="heading7">微信</h6>
        <ul>
          <li>
          <div class="input-append newsletter-box text-center">
            <input type="text" class="full text-center" placeholder="微信公众号 ">
            <button class="btn  bg-red" type="button"> 一休工作室 <i class="fa fa-long-arrow-right"> </i> </button>
            </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
